#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>

// Modified keymap based on personal experience, with some improvements based on Miryoku layout.

#define layer_0  0
#define layer_1  1
#define layer_2  2
#define game      3

// Autoshift Macro definition
#define AS(keycode) &as LS(keycode) keycode     

/ {
    /* * Auto Shift behavior 
     * Allows tapping for lowercase and holding for uppercase
     */
    behaviors {
        as: auto_shift {
            compatible = "zmk,behavior-hold-tap";
            label = "AUTO_SHIFT";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <0>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };
    };

    combos {
        compatible = "zmk,combos";

        /*
         * Key positions for 36-key 3x5+3 layout:
         * 0  1  2  3  4      5  6  7  8  9
         * 10 11 12 13 14    15 16 17 18 19
         * 20 21 22 23 24    25 26 27 28 29
         *       30 31 32    33 34 35
         */

        combo_enter {
            bindings = <&kp ENTER>;
            key-positions = <31 32>; // Thumb keys
        };
        combo_capslock {
            bindings = <&kp CAPSLOCK>;
            key-positions = <30 35>; // Outer thumb keys
        };
        combo_esc {
            bindings = <&kp ESC>;
            key-positions = <0 1>;   // Q and W
        };
        combo_alttab {
            bindings = <&kp LA(TAB)>;
            key-positions = <31 34>; // Inner thumb keys
        };
        combo_screenshot {
            bindings = <&kp LG(LS(S))>;
            key-positions = <30 11 12 13>; // Complex combo
        };
        combo_game {
            bindings = <&tog 3>;
            key-positions = <32 33>; // Transition thumbs
        };
    };

    keymap {
        compatible = "zmk,keymap";

        layer_0 {
            bindings = <
    &kp Q       &kp W       &kp F       &kp P           &kp B           &kp J       &kp L       &kp U       &kp Y           &kp SEMI
    &kp A       &kp R       &kp S       &kp T           &kp G           &kp M       &kp N       &kp E       &kp I           &kp O
    &kp Z       &kp X       &kp C       &kp D           &kp V           &kp K       &kp H       &kp COMMA   &kp DOT         &kp FSLH
                            &kp RSHFT   &kp BSPC        &mo 1           &mo 2       &kp SPACE   &kp LCTRL
            >;
        };

        layer_1 {
            bindings = <
    &kp EXCL    &kp AT      &kp HASH    &kp DLLR        &kp PRCNT       &kp CARET   &kp AMPS    &kp ASTRK   &kp LPAR        &kp RPAR
    &kp N1      &kp N2      &kp N3      &kp N4          &kp N5          &kp N6      &kp N7      &kp N8      &kp N9          &kp N0
    &kp F1      &kp F2      &kp F3      &kp F4          &kp F5          &kp F6      &kp F7      &kp F8      &kp F9          &kp F10
                                        &none           &kp ENTER       &none       &kp LWIN    &kp UNDER   &kp MINUS
            >;
        };

        layer_2 {
            bindings = <
    &bootloader  &none       &kp UP      &bt BT_CLR_ALL  &bt BT_SEL 1    &kp BSLH    &kp PLUS    &kp LBRC    &kp RBRC    &kp C_VOL_UP
    &sys_reset   &kp LEFT    &kp DOWN    &kp RIGHT       &bt BT_SEL 2    &kp TILDE   &kp EQUAL   &kp LT      &kp GT      &kp C_VOL_DN
    &kp F11      &kp F12     &none       &bt BT_CLR      &bt BT_SEL 3    &kp PIPE    &kp MINUS   &kp LBKT    &kp RBKT    &kp FSLH
                                         &none           &none           &none       &none       &none       &none       
            >;
        };

        game_layer {
            bindings = <
    &kp ESC     &kp Q       &kp W       &kp E       &kp R        &kp T        &kp Y        &kp U      &kp I      &kp O
    &kp TAB     &kp A       &kp S       &kp D       &kp F        &kp G        &kp H        &kp J      &kp K      &kp L
    &kp LSHFT   &kp Z       &kp X       &kp C       &kp V        &kp B        &kp N        &kp M      &kp COMMA  &kp DOT
                                        &kp LCTRL   &kp SPACE    &kp N4       &kp CAPS     &kp LALT   &none
            >;
        };
    };
};